body {
	background-color: rgb(200,200,200);
	padding: 10px;
}
.container {
	border-top: 3px solid black;
	border-bottom: 3px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 100%;

}
h3 {
	text-transform: uppercase;
}
img.headshot {
	height: 200px;
	width: auto;

}